*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    border: none;
    outline: none;
}

.container{
    max-width: 1110px;
    margin: auto;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.menu{
    display: flex;
    gap:50px
}
.menu-item.active{
    padding-bottom: 10px;
    border-bottom: 2px solid #5454D4;
}
.menu-link{
    font-size: 15px;
    color: #696871;
    font-weight: bold;
    letter-spacing: -0.47px;
}
.active .menu-link{
    color: black;
}
.btn{
    background: #FF7143;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 60px;
    border-radius: 10px;
}
.first-section{
    padding: 100px 0;
}